*{
	box-sizing: border-box;
}

html{
	overflow-x: hidden;
}

body {
	font-size: 17px;
	background-color: white;
	font-family: Arial, Helvetica, sans-serif;
	overflow-x: hidden;
}

#header-nav{
	background-color: black; /*#1E1E1E;*/
	border-radius: 0;
	border: 0;
}

.divAdj{
	padding-left: 0;
	margin-left: 0;
	border-left: 0;
	height: 40px;
}

#mainTitle{
	font-family: Verdana;
	font-weight: bold;
	color: #6b7078;
	float: left;
	margin-left: 50px;
}

/*#searchBar input{
	height: 30px;
	width: 200px;
	font-size: 17px;
	padding: 10px;
}*/

#searchBar button{
	background: white;
	font-size: 20px;
}

#searchBar button:hover {
	background: grey;
}

#searchBarSmall {
	position: relative;
	left: 27.5%;
	height: 100px;
	top: 25px;
}

#searchBarSmall input {
	height: 30px;
	width: 40%;
}

#searchBarSmall button:hover{
	background: grey;
}


#menuButtons{
	position: relative;
	font-family: Helvetica;
	visibility: show;
	color: white;
	left: 20px;
	margin-left: 80px;
	padding: 0;
	border: 0;
	top: 8px;
}

#menuButtons:hover {
	color: #6b7078;
	text-decoration: none;
}

input[type = text] {
	height: 40px;
	position: relative;
	bottom: 25px;
	width: 0px;
	font-size: 17px;
	color: white;
	border: 0px;
	padding: 12px 20px 12px 40px;
	background-color: black;
	background-image: url('search.png');
	background-position: 8px;
	background-size: 25px;
	background-repeat: no-repeat;
	-webkit-transition: width 0.4s ease-in-out;	
}

input[type = text]:focus {
	width: 100%;
	border: 2px white;
    border-radius: 4px;
}

@media (min-width: 900px){
	#mainTitle{
		font-size: 30px;
	}

	#menuButtons{
		width: 175px;
	}
	#searchBar{
		position: absolute;
		right: 0; 
		margin-right: 10px;
	}
	#searchBarSmall{
		visibility: hidden;
	}
}

@media (min-width: 767px) and (max-width: 900px){
	#mainTitle{
		font-size: 28px;
	}

	#menuButtons{
		width: 145px;
	}
	#searchBar{
		position: absolute;
		right: 0; 
		margin-right: 10px;
	}
	#searchBarSmall{
		visibility: hidden;
	}
}

@media (min-width: 500px) and (max-width: 767px){
	#mainTitle{
		font-size: 25px;
	}

	#searchBar{
		visibility: hidden;
	}
	#menuButtons{
		width: 110px;
	}
}

@media (max-width: 500px){
	#mainTitle{
		font-size: 20px;
	}

	#searchBar{
		visibility: hidden;
	}
	#menuButtons{
		width: 76px;
	}

	#menuButtons{
		font-size: 15px;
	}
}

