*{
	box-sizing: border-box;
}

html{
	overflow-x: hidden;
}

body {
	font-size: 17px;
	background-color: #f3f3f3;
	font-family: Arial, Helvetica, sans-serif;
	overflow-x: hidden;
}

@font-face {
	font-family: Aileron;
	src: url(Fonts/Aileron/Aileron-Regular.otf);
}

@font-face {
	font-family: Berlin;
	src: url(Fonts/Berlin/Berlin.ttf);
}
@font-face {
	font-family: Lato;
	src: url(Fonts/Lato/Lato-Light.ttf);
}

@font-face {
	font-family: Lato-Bold;
	src: url(Fonts/Lato/Lato-Regular.ttf);
}

@font-face {
	font-family: Open-Sans;
	src: url(Fonts/Open-Sans/OpenSans-Bold.ttf);
}

@font-face {
	font-family: Open-Sans-Light;
	src: url(Fonts/Open-Sans/OpenSans-Light.ttf);
}

#header-nav{
	background-color: black; /*#1E1E1E;*/
	border-radius: 0;
	border: 0;

}

.divAdj{
	padding-left: 0;
	margin-left: 0;
	border-left: 0;
	height: 42px;
}

#mainTitle{
	font-family: Open-Sans;
	font-weight: bold;
	color: #6b7078;
	float: left;
	margin-left: 10px;
	position: relative;
}

#menuButtons{
	position: relative;
	font-family: Open-Sans-Light;
	visibility: show;
	color: white;
	left: 7px;
	right: 13px;
	padding: 0;
	border: 0;
	top: 8px;
}

#menuButtons:hover {
	color: #6b7078;
	text-decoration: none;
}

#ssMessage {
	color: white;
	text-align: center;
	position: relative;
	top: 80px;
	font-size: 25px;
	font-family: Lato;
}

#ssButton {
	
	margin: auto;
	display: block;
	position: relative;
	top: 120px;
	border: 0;
	background-color: black;
	font-family: Open-Sans-Light;
	color: white;
	padding: 15px;
	border-radius: 4px;
}

#ssButton:hover {
	color: #6b7078;
}

input[type = text] {
	height: 40px;
	position: relative;
	font-family: Lato;
	bottom: 25px;
	width: 0px;
	font-size: 17px;
	color: white;
	border: 0px;
	padding: 12px 20px 12px 40px;
	background-color: black;
	background-image: url('images/search.png');
	background-position: 8px;
	background-size: 25px;
	background-repeat: no-repeat;
	-webkit-transition: width 0.4s ease-in-out;	
}



#slideshowContainer {
	background-color: #3b3b3b;
	position: relative;
	height: 300px;
	width: 100%;
}

input[type = text]:focus {
	width: 95%;
	border: 2px white;
    border-radius: 4px;
}

.divCon{
	position: absolute;
	right: 0;
}


.yogi {
	
	position: relative;
	margin-top: 100px;
	margin-left: 10%;
	height: 35vh;
	width: 230px;
	text-align: center;

}


#yogiWallpaper {
	max-width: 90%;
	height: 70%;

}

#yogiWallpaper:hover {
	opacity: 80%;
}
#yogiTitle {
	
	font-family: Lato-Bold;
	font-weight: bold;
	position: relative;
	top: 20px;
	font-size: 20px;
}

#yogiName {
	font-family: Lato;
	position: relative;
	top: 5px;
}

#courses {
	text-align: center;
	position: relative;
	top: 40px;
	font-family: Lato-Bold;
	font-weight: bold;
}

#wip {
	display: block;
	margin: auto;
	max-width: 30%;
	margin-top: 100px;
}

#impcon {
	text-align: center;
	margin-top: 60px;
	font-family: Lato-Bold;
	font-weight: bold;

}

#concepts {
	text-decoration: none;
	font-family: Lato;
	display: block;
	color: black;
	text-align: center;
	position: relative;
	top: 20px;
	margin-top: 15px;
}

#concepts:hover {
	color: #6b7078;

}

#conceptsCon {
	height: 250px;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
	height: 400px;
  	width: 100%;
  	position: relative;
  	margin: auto;
}

/* Hide the images by default */
.mySlides {
	height: 1000px;
	width: 100%;
  	display: none;
}

.slidesImage{
	height: 600px;
	width: 100%;
}


#FirstTitle {
	text-align: center;
	font-family: Lato-Bold;
	font-size: 30px;
	margin-top: 100px;
}

#FirstPassage {
	margin-top: 60px;
	/*padding-left: 60px;
	padding-right: 60px;*/
	font-family: Lato;
	line-height: 1.6;
}

#footer {
	height: 80px;
	width: 100%;
	background-color: #3b3b3b;
	margin-top: 200px;
}

/* Next & previous buttons */
.prev, .next {
  	cursor: pointer;
  	position: absolute;
  	top: 50%;
  	width: auto;
  	margin-top: -22px;
  	padding: 16px;
  	color: white;
  	font-weight: bold;
  	font-size: 18px;
  	transition: 0.6s ease;
  	border-radius: 0 3px 3px 0;
  	user-select: none;
}

/* Position the "next button" to the right */
.next {
  	right: 0;
  	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */


/* Caption text */
.text {
  	color: #f2f2f2;
  	font-size: 15px;
  	padding: 8px 12px;
  	position: absolute;
  	bottom: 8px;
  	width: 100%;
  	text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  	color: #f2f2f2;
  	font-size: 12px;
  	padding: 8px 12px;
  	position: absolute;
  	top: 0;
}

/* The dots/bullets/indicators */
.dot {
  	cursor: pointer;
  	height: 15px;
  	width: 15px;
  	margin: 0 2px;
  	background-color: #bbb;
  	border-radius: 50%;
  	display: inline-block;
  	transition: background-color 0.6s ease;
}

.active, .dot:hover {
  	background-color: #717171;
}

/* Fading animation */
/* .fade {
  	-webkit-animation-name: fade;
  	-webkit-animation-duration: 1.5s;
  	animation-name: fade;
  	animation-duration: 1.5s;
} */

@-webkit-keyframes fade {
  	from {opacity: .4}
  	to {opacity: 1}
}

@keyframes fade {
  	from {opacity: .4}
  	to {opacity: 1}
}




@media (min-width: 900px){
	#mainTitle{
		font-size: 30px;
	}

	input[type ="text"]{
		float: right;
		right: 10px;
	}

	#menuButtons{
		margin-left: 75px;
	}

	#FirstPassage {
		
		padding-left: 300px;
		padding-right: 300px;
		
}
}

@media (min-width: 767px) and (max-width: 900px){
	#mainTitle{
		font-size: 26px;
		top: 4px;
	
	}

	input[type ="text"]{
		float: right;
		right: 10px;
	}

	#menuButtons{
		margin-left: 42px;
	}
}

@media (min-width: 500px) and (max-width: 767px){
	#mainTitle{
		font-size: 25px;
		top: 4px;
	}

	input[type ="text"]{
		float: right;
	}

	input[type =text]:focus{
		width: 90%;
	} 

	.divCon{
		width: 108%;
		right: 5px;
	}

	#menuButtons{
		margin-left: 30px;
	}
}

@media (max-width: 500px){
	#mainTitle{
		font-size: 20px;
		margin-left: 0px;
		top: 9px;
	}

	input[type ="text"]{
		float: right;
		background-size: 18px;
		background-position: 25px;
	}

	input[type =text]:focus{
		width: 90%;
		background-position: 8px;
	} 

	.divCon{
		width: 108%;
		right: 5px;
	}

	.yogi {
		width:160px;
		margin-left: 6%;

	}

	#yogiWallpaper {
		height: 60%;
	}

	#yogiTitle {
		font-size:14px;
	}

	#yogiName {
		font-size: 12px;
	}

	#menuButtons{
		margin-left: 16px;
		font-size: 14px;
		left: 2px;
		top: 9px;
	}
	#FirstTitle {
		font-size: 24px;
		padding-right: 50px;
		padding-left: 50px;
		line-height: 1.5;
	}
	#FirstPassage {
		padding-left: 50px;
		padding-right: 50px;
		line-height: 1.5;
	}
	#ssMessage {
		padding-right: 20px;
		padding-left: 20px;
	}

	#ssButton {
		font-size: 15px;
		top: 110px;
	}
}