*{
	box-sizing: border-box;
}

html{
	overflow-x: hidden;
}

body {
	font-size: 17px;
	background-color: white;
	font-family: Arial, Helvetica, sans-serif;
	overflow-x: hidden;
}

#header-nav{
	background-color: black; /*#1E1E1E;*/
	border-radius: 0;
	border: 0;
}

.divAdj{
	padding-left: 0;
	margin-left: 0;
	border-left: 0;
	height: 42px;
}

#mainTitle{
	font-family: Verdana;
	font-weight: bold;
	color: #6b7078;
	float: left;
	margin-left: 10px;
	position: relative;
}

#menuButtons{
	position: relative;
	font-family: Helvetica;
	visibility: show;
	color: white;
	left: 7px;
	right: 13px;
	padding: 0;
	border: 0;
	top: 8px;
}

#menuButtons:hover {
	color: #6b7078;
	text-decoration: none;
}

#ssMessage {
	color: white;
	text-align: center;
	position: relative;
	top: 80px;
	font-size: 25px;
	font-family: Verdana;
}

#ssButton {
	
	margin: auto;
	display: block;
	position: relative;
	top: 120px;
	border: 0;
	background-color: black;
	color: white;
	padding: 15px;
	border-radius: 4px;
}

#ssButton:hover {
	color: #6b7078;
}

input[type = text] {
	height: 40px;
	position: relative;
	bottom: 25px;
	width: 0px;
	font-size: 17px;
	color: white;
	border: 0px;
	padding: 12px 20px 12px 40px;
	background-color: black;
	background-image: url('search.png');
	background-position: 8px;
	background-size: 25px;
	background-repeat: no-repeat;
	-webkit-transition: width 0.4s ease-in-out;	
}

#slideshowContainer {
	background-color: #3b3b3b;
	position: relative;
	height: 300px;
	width: 100%;
}

input[type = text]:focus {
	width: 95%;
	border: 2px white;
    border-radius: 4px;
}

.divCon{
	position: absolute;
	right: 0;
}


.yogi {
	
	position: relative;
	margin-top: 100px;
	margin-left: 10%;
	height: 35vh;
	width: 230px;
	text-align: center;

}


#yogiWallpaper {
	max-width: 90%;
	height: 70%;

}

#yogiWallpaper:hover {
	opacity: 80%;
}
#yogiTitle {
	
	font-family: Helvetica;
	font-weight: bold;
	position: relative;
	top: 20px;
	font-size: 20px;
}

#yogiName {
	font-family: Helvetica;
	position: relative;
	top: 5px;
}




@media (min-width: 900px){
	#mainTitle{
		font-size: 30px;
	}

	input[type ="text"]{
		float: right;
		right: 10px;
	}

	#menuButtons{
		margin-left: 75px;
	}
}

@media (min-width: 767px) and (max-width: 900px){
	#mainTitle{
		font-size: 26px;
		top: 4px;
	
	}

	input[type ="text"]{
		float: right;
		right: 10px;
	}

	#menuButtons{
		margin-left: 42px;
	}
}

@media (min-width: 500px) and (max-width: 767px){
	#mainTitle{
		font-size: 25px;
		top: 4px;
	}

	input[type ="text"]{
		float: right;
	}

	input[type =text]:focus{
		width: 90%;
	} 

	.divCon{
		width: 108%;
		right: 5px;
	}

	#menuButtons{
		margin-left: 30px;
	}
}

@media (max-width: 500px){
	#mainTitle{
		font-size: 20px;
		margin-left: 0px;
		top: 9px;
	}

	input[type ="text"]{
		float: right;
	}

	input[type =text]:focus{
		width: 90%;
	} 

	.divCon{
		width: 108%;
		right: 5px;
	}

	#menuButtons{
		margin-left: 16px;
		font-size: 14px;
		left: 10px;
		top: 9px;
	}
}